<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Autentikasi</servlet-name>
        <servlet-class>Controller.Autentikasi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autentikasi</servlet-name>
        <url-pattern>/Autentikasi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description> 
    <param-name>file-upload</param-name> 
    <param-value>
         f:\aaa\uiberdagang\data\
     </param-value> 
    </context-param>
    <filter>
        <filter-name>CAS Filter</filter-name>
        <filter-class>edu.yale.its.tp.cas.client.filter.CASFilter</filter-class>
        <init-param>
            <param-name>edu.yale.its.tp.cas.client.filter.loginUrl</param-name>
            <param-value>https://sso.ui.ac.id/cas2/login</param-value>
        </init-param>
        <init-param>
            <param-name>edu.yale.its.tp.cas.client.filter.validateUrl</param-name>
            <param-value>https://sso.ui.ac.id/cas2/proxyValidate</param-value>
        </init-param>
        <init-param>
            <param-name>edu.yale.its.tp.cas.client.filter.serverName</param-name>
            <param-value>localhost:8080</param-value>
        </init-param>
        <!--<init-param>
          <param-name>edu.yale.its.tp.cas.client.filter.gateway</param-name>
          <param-value>https://sso.ui.ac.id/cas/gateway</param-value>
        </init-param>-->
    </filter>
    <filter-mapping>
        <filter-name>CAS Filter</filter-name>
        <url-pattern>/register.jsp</url-pattern>
    </filter-mapping>
</web-app>
